<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="icon" type="image/x-icon" href="assets/images/logo.png">
    <link rel="stylesheet" href="assets/styles/style.css">
    <title>Spanish Questions</title>
</head>
<body>

  <div id="app">
    <header class="d-flex justify-content-center align-items-center gap-1">
      <img src="./assets/images/spain.png">
      <h1>Spanish</h1>
    </header>

    <div v-if="message">
      <p v-html="message"></p>
    </div>

    <!-- Category Selection -->
    <div v-if="!selectedCategory">
      <p class="p-3">Pick a category!</p>

      <div class="button-container">
        <button v-for="category in Object.keys(currentData)" :key="category" class="btn btn-primary" @click="selectCategory(category)">
          {{ category }}
        </button>
      </div>
    </div>

    <!-- Subcategory Selection -->
    <div v-if="selectedCategory && !selectedSubcategory">
      <p class="p-3">Pick a category!</p>

      <div class="button-container">
        <button v-for="subcategory in Object.keys(currentData[selectedCategory])" :key="subcategory" class="btn btn-primary" @click="selectSubcategory(subcategory)">
          {{ subcategory.replace('_', ' ') }}
        </button>
      </div>
    </div>

    <!-- Final Category Selection -->
    <div v-if="selectedSubcategory && !selectedFinalCategory">
      <p class="p-3">Pick a category!</p>

      <div class="button-container">
        <button v-for="finalCategory in Object.keys(currentData[selectedCategory][selectedSubcategory])" :key="finalCategory" class="btn btn-primary" @click="selectFinalCategory(finalCategory)">
          {{ finalCategory.replace('_', ' ') }}
        </button>
      </div>
    </div>

    <!-- Question Display -->
    <div v-if="randomQuestion">
      <p class="p-3">What is "{{ questions[randomQuestion]['english'] }}" translated into spanish?<p>

      <div class="button-container">
        <button v-for="option in answerOptions" :key="option" :class="`${randomAnswerValue == option && showAnswer ? 'correct' : ''} btn btn-info`" @click="checkAnswer(option)">
          {{ option.replace('_', ' ') }}
        </button>
      </div>

      <div v-if="showAnswer">
        <p :class="`m-3 p-3 text-center ${correct ? 'correct' : 'incorrect'}`">{{ correct ? 'Correct!' : 'Incorrect.' }}</p>
      </div>
    </div>

    <hr>

    <!-- Next Question -->
    <div class="button-container">
      <button @click="resetSelection" class="btn btn-warning">Select New Category</button>

      <button @click="setupNextQuestion" v-if="showAnswer" class="btn btn-primary">Next Question</button>
    </div>
  </div>

    <!-- Import the app -->
    <script src="assets/data/house/bathroom/bathroomFixtures.js"></script>
    <script src="assets/data/house/bathroom/bathroomAccessories.js"></script>
    <script src="assets/data/house/bedroom/bedroomFurniture.js"></script>
    <script src="assets/data/house/bedroom/bedroomLinen.js"></script>
    <script src="assets/data/house/garage/garageFixtures.js"></script>
    <script src="assets/data/house/kitchen/kitchenTools.js"></script>
    <script src="assets/data/house/kitchen/kitchenFurniture.js"></script>
    <script src="assets/data/house/living_room/livingroomFurniture.js"></script>
    <script src="assets/data/house/living_room/livingroomActions.js"></script>
    <script src="assets/data/house/living_room/livingroomDecorations.js"></script>
    <script src="assets/data/nature/park/parkFacilities.js"></script>
    <script src="assets/data/nature/park/parkActivities.js"></script>
    <script src="assets/data/nature/park/parkWildlife.js"></script>
    <script src="assets/data/restaurant/menu/menuAppetizers.js"></script>
    <script src="assets/data/restaurant/menu/menuMainCourses.js"></script>
    <script src="assets/data/restaurant/customer_service/customerServiceReservations.js"></script>
    <script src="assets/data/r"></script>
    <script src="assets/javascript/app.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <script>
        const mountedApp = app.mount("#app");
    </script>
</body>
</html>
