.correct,
.correct:focus,
.correct:active {
  background-color: greenyellow !important;
}


.incorrect {
  background-color: red;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

button {
  text-transform: capitalize;
}
